@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gupter Web', sans-serif;
}

:root{
    --mainColor:white; 
    --mainColorLight: #2f7aa5;
    --secondaryColor: #DB2B39;
    --textColor:white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: white;
}

nav a{
    margin: 0 2rem;
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: rgb(61, 170, 189);
}

header .nav-btn {
    padding: 3px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(61, 170, 189);
    font-size: 1.54rem;
}

.button{
    cursor: pointer;
    color: white;
    background: rgb(72, 75, 243);
    font-size: 1rem;
    border: none;
    outline: none;
    width: 350px;
    height: 40px;
    border-radius: 5px;
    position: relative;

    
}

.button1{
    cursor: pointer;
    color: white;
    background: rgb(0, 187, 250);
    font-size: 1rem;
    border: none;
    outline: none;
    width: 380px;
    height: 80px;
    border-radius: 7px;
    position: relative;
    font-size: x-large;

    
}

.button2{
    cursor: pointer;
    color: white;
    background: rgb(59, 136, 167);
    font-size: 1rem;
    border: none;
    outline: none;
    width: 380px;
    height: 80px;
    border-radius: 7px;
    position: relative;
    font-size: x-large;

    
}

.button2{
    cursor: pointer;
    color: white;
    background: rgb(59, 136, 167);
    font-size: 1rem;
    border: none;
    outline: none;
    width: 40px;
    height: 20px;
    border-radius: 1px;
    position: relative;
    font-size: small;

    
}

.button3{
    cursor: pointer;
    color: white;
    background: blue;
    font-size: 1rem;
    border: none;
    outline: none;
    width: 200px;
    height: 60px;
    border-radius: 1px;
    position: relative;
    font-size: medium;

    
}

.button4{
  cursor: pointer;
  color: white;
  background: blue;
  font-size: 1rem;
  border: none;
  outline: none;
  width: 350px;
  height: 40px;
  border-radius: 5px;
  position: relative;

  
}

.p1{
    color: rgb(5, 172, 238);
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;

    
}


@media only screen and (max-width: 1024px){
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translate(-100vh);
    }

    header .responsive_nav{
        transform: none;
    }


    nav a{
        font-size: 1.5rem;
    }
}

.page{
    background-image: linear-gradient(white, aqua);
    height: 150vh;
    width: 100%;
}

.page1{
    background-color: bisque;
    height: 100vh;
    width: 100%;
}

table {
    border: 1px solid grey;
    width: 1100px;
    height: 500px;
    border-collapse: collapse;
    background-color: white;
    
  }
    
  table th {
    background-color: rgb(45, 141, 230);
    padding: 1em;
    color: white;
  }
    
  td {
    text-align: center;
    
  }

  table, th, td, tr {
    border: 1px solid grey;
  }

  .cover {
    width: 60em;
    height: 60em;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.cover1 {
  left: 60em;
  width: 60em;
  height: 60em;
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cover2 {
    left: 15em;
    width: 30em;
    height: 30em;
    position: relative;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.vote-count {
  width:40px;
  height:35px;
  text-align:center;
  color:red;
  font:20px/1.5 georgia;
  margin-bottom:10px;
  animation: bump .3s; 
}
.bumped {
    animation: bump2 .3s; 
  }


.vote-btn {
  border-radius:3px;
  border:0;
  background:rgb(3, 108, 150);
  padding:20px;
  font:bold 9px/1.2 arial;
  text-transform:uppercase;
  letter-spacing:1px;
  color:white;
  box-shadow:0 1px 1px rgba(0,0,0,.2);
  outline:none;
  position:relative;
  transition: all .3s ease-out; 
  cursor:pointer;
  overflow:hidden;
  height: 5em;
  width: 10em;
  font-size: x-small;
}

.vote-btn1 {
  border-radius:3px;
  border:0;
  background:rgb(3, 108, 150);
  padding:20px;
  font:bold 9px/1.2 arial;
  text-transform:uppercase;
  letter-spacing:1px;
  color:white;
  box-shadow:0 1px 1px rgba(0,0,0,.2);
  outline:none;
  position:relative;
  transition: all .3s ease-out; 
  cursor:pointer;
  overflow:hidden;
  height: 5em;
  width: 10em;
  font-size: x-small;
}

 .login-btn {
  width: 12em;
  height: 3em;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
  color: white;
  font-size: medium;
  border-color: none;
}

.login-btn:hover { transform: scale(1.25);}

.text {
  position: relative;
  bottom: 2em;
}

.hide {
  position: absolute;
  transform: scale(0);
}

input {
  border-color: blue;
  height: 4em;
  width: 80%;
  border-radius: 0.25em;
  text-align: left;
  padding: 1em;
}

.page2 { 
  background-image: linear-gradient(white, aqua);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.vote-btn1 {
  border-radius:3px;
  border:0;
  background:rgb(3, 108, 150);
  padding:20px;
  font:bold 9px/1.2 arial;
  text-transform:uppercase;
  letter-spacing:1px;
  color:white;
  box-shadow:0 1px 1px rgba(0,0,0,.2);
  outline:none;
  position:relative;
  transition: all .3s ease-out; 
  cursor:pointer;
  overflow:hidden;
  height: 5em;
  width: 20em;
}

.cover3 {
  left: 50em;
  width: 20em;
  height: 20em;
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

small {
  display: block;
  font-size: 12px;
}

h1 {
  font-size: 2em;
  margin-bottom: 25px;
}

.field{
  height: 5em;
  width: 30em;
}

input {
  border-color: blue;
  height: 4em;
  width: 20%;
  border-radius: 0.25em;
  text-align: left;
  padding: 1em;
}



